.main-body {
    overflow-x: hidden;
}

.my-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.my-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.my-table th,
.my-table td {
  padding: 12px 15px;
}
.my-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.my-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.my-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #00765e;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #ffffff;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #43C6AC;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
 
  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}


.login-body {background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(67,198,172,0.2777485994397759) 100%);
}

.login-container {
    margin-top: 10%;
    justify-content: center;
}

.login-form {
    padding: 5%;
    border-radius:5px;
    background: #43C6AC;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}